*{margin: 0; padding: 0.2em; text-align: center;}

:root{
    --light-clr: #fbf9fa;
    --darker-clr: #2b2024;
    --opaque-clr: rgba(26, 13, 0, 0.3);
    --ff-heading: 'Petrona', serif;
    --ff-body: 'Khula', sans-serif;
    --fw-heading: 400;
}

img{
    max-width: 50%;
    height: auto;
}

#info, .alb-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.alb-container{flex-wrap: wrap;}

#title, #info, article{
    margin-bottom: 2em;
    padding: .8em;
    font-family: var(--ff-body);
}

h1, h3{
    font-family: var(--ff-heading);
    font-size: 4rem;
}

.albuns{
    font-size: 1rem;
    margin: 0.5em;
    width: 13rem;
    height: 13rem;
    box-shadow: 10px 10px 10px var(--opaque-clr);
}

p, ul{
    max-width: 75ch;
    margin: auto;
    font-size: 1.2rem;
}

li{text-align: left;}

/*from 0 to 850*/
@media (max-width: 850px){
    #info{
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    html{font-size: 10px;}
    .alb-container{
        flex-direction: column;
    }

    iframe{
        width: 560px; 
        height: 315px;
    }
}