:root{
    --hd-font: 'Fredoka One', cursive;
    --body-font: 'Play', cursive;
    --lighter-color: #f1f1f1;
    --darker-color: #333333;
    --div-bg: #ffb3b3;
    --color2: #d9b3ff;
    --color1: #ffbf80;
    --hd-font-size: 8vw;
    --text-font-size: 1.5vw;
}

*{padding: 0; margin: 0; text-align: center;}

.titulo{
    display: inline-block;
    font-size: var(--hd-font-size);
    background-color: var(--color1);
    width: 10vw;
    height: 10vw;
    margin: 6% 1.5%;
    color: var(--lighter-color);
    font-family: var(--hd-font);
    padding: 0;
    border-radius: 2px;
}

main, .box{
    margin: auto;
    font-family: var(--body-font);
    color: var(--darker-color);
    font-size: var(--text-font-size);
    padding: .1rem;
    border-radius: 5px;
}

.b{
    position: relative;
    top: 20px;
    background-color: var(--color2);
}

.box{
    margin-bottom: 1rem !important;
    background-color: var(--div-bg);
    border-color: var(--div-bg);
}

main{width: 50%; margin-bottom: 5%; border: .3rem solid var(--darker-color);}

h1{
    font-family: var(--hd-font);
    font-size: 3vw;
}

.input-form, .box, h1{
    margin: 10%;
}

#name-label, #email-label, #number-label, select{
    width: 50%;
    height: 3em;
    border-color: transparent;
    color: var(--darker-color);
}

label{
    margin-right: 1.2rem;
}

p{
    padding-bottom: 2rem;
}

.choices{
    padding: .5rem;
}

textarea{
    width: 100%;
    height: 5rem;
    border-color: transparent;
}

#submit{
    width: 30%;
    height: 3rem;
    border: none;
    font-size: var(--text-font-size);
    color: var(--lighter-color);
    background-color: var(--color1);
    border-radius: 5px;
    margin-bottom: 2.5rem;
}