*{box-sizing: border-box;}

body{
    background: hsl(218, 28%, 13%);
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 1.5rem;
    line-height: 1.5rem;
}

.img{
    width: 100%;
    height: auto;
}

main>.container{
    max-width: 1000px;
    margin: auto;
    margin-top: 5rem;
}

.title,
.link{
    line-height: 2rem;
    font-family: 'Raleway', sans-serif;
}

.list{
    list-style: none;
    padding: 0;
}

.link{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.link:visited{
    color:hsl(0, 0%, 100%);
}

.link:hover,
.link:focus,
.link__secondary:hover,
.link__secondary:focus,
.form__btn:hover,
.form__btn:focus{
    opacity: 0.5 ;
}

.col{
    max-width: 360px;
    margin: 2rem auto;
}

.section_two,
.section_three,
.info{
    text-align: left;
}

.btn{
    border-radius: 30px;
    background-color: hsl(176, 68%, 64%);
    padding: .8em 4em;
    font-weight: 700;
    font-size: 1.2em;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

/*NAV*/
.logo{
    width: 100px;
}

.nav__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item + .nav__item{
    margin-left: 1rem;
}

/*Intro section*/
.intro>.text{
    margin-bottom: 2em;
}

/*section TWO*/
.link__secondary{
    color: hsl(176, 68%, 64%);
}

/*section THREE*/
.card{
    background: hsl(219, 30%, 18%);
    text-align: left;
    padding: 1.5rem 1rem;
    margin: 3rem auto;
    width: 310px;
}

.profile_row{
    display: flex;
}

.profile-pic{
    width: 40px;
    height: auto;
    border-radius: 100%;
    margin-right: 1rem;
}

.card_title,
.card_text{
    margin: 0;
}

/*section FOUR*/
.section_four{
    background: hsl(217, 28%, 15%);
    max-width: 750px !important;
    padding: 2rem 1rem;
    border-radius: 10px;
}

#campo,
.form__btn{
    width: 250px;
    height: 40px;
    border-radius: 20px;
    padding: 0;
    margin: .5em 0;
    text-align: center;
    font-size: 1rem;
}

/*section INFO*/

.teste{
    display: flex;
    align-items: flex-start;
}

.icon{
    width: 20px;
    height: 20px;
}

svg{
    width: 40px;
    height: auto;
    fill:hsl(0, 0%, 100%);
}

.teste>.text{
    margin: 0 0 0 1em;
}

.teste + .teste{
    margin-top: 1em;
}

.info__row>div{
    margin-top: 1.5rem;
}


/*footer*/
.foo{
    font-size: 1.2em;
}

@media (min-width: 401px){
    .row{
        display: flex;
        justify-content: space-between;
    }

    .item,
    .list{
        padding: 0;
        margin: 0;
    }

    .intro{
        max-width: 500px !important;
    }

    .section_one,
    .section_three{
        flex-wrap: wrap;
        align-items: baseline;
    }
    
    .section_two>.col{
        max-width: 40%;
        margin-left: 6rem;
    }

    /*section FOUR*/
    #campo{
        width: 400px;
        height: 40px;
        margin-right: 1.5rem;
    }

    /*section INFO*/
    .info__row>div{
        margin: 2rem 1rem;
    }

    .info{
        max-width: unset !important;
    }

    .info__row>.row{
        max-width: 400px;
    }

    .teste{
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media (max-width: 400px) {
    body{
        font-size: .8rem;
    }
}