body{
    font-family: cursive;
    text-transform: capitalize;
    line-height: 3em;
    margin:  0px;
    padding: 0px;
    background: #FFF5EE url("../../images/flower.png") no-repeat fixed left center;
}

*{
    padding: 10px;
    margin: 10px;
    text-align: center;
    align-content: center;
}

html{
    padding: 0px;
    margin: 0px;
}


h1{
    color: #b46d51;
    text-shadow: 5px 5px 10px #b46d51;
}

#fr{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
}

.flo{
    /*border-color: tomato!important;
    border: solid;
    border-width: 10px;
    -da pra fazer tudo em um só*/
    border: 10px solid pink; /*shorthand*/
    margin: 30px; /*auto pra centralizar*/
    width: 200px;
    height: 200px;
    /* imagen na borda -> 
    border-image: url("../images/flor.png") 
    18 18 18 18 repeat;*/
    /*box-shadow: 0px 0px 10px 10px pink;*/
    border-radius: 0px;
    padding: 20px;
    float: left;
}

.aux{
    padding: 0px;
    width: 240px;
    height: 240px;
}

.ig{
    padding: 0px;
    margin: 0px;
    background-position: center center;
    width: 240px;
    height: 240px;
}

div{
    width: 960px;
    margin: auto;
    overflow: auto; /*pro div funcionar*/
}

input{
    opacity: 0.75;
}

img{
    padding: 20px;
    /*display: block;*/
    height: 360px;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:link{
    text-decoration: none;
    color: Black;
}

fieldset{
    border: 10px dotted pink;
    max-width: 600px;
    margin: 30px auto;
}

select{
    background-color: pink;
    border: transparent;
}

option {
    padding: 0.2em;
    margin: unset;
    border: unset;
}

legend{
    margin: auto; /*pra centralizar no firefox*/
}

ol{
    list-style: inside url("flor.png"); /*shorthand
    list-style-image: url("flor.png");
    list-style-position: inside;*/
}

li{
    padding: 0px;
    margin: 5px;
}

footer{
    background-color: pink;
    font-weight: bold;
    margin: 0px;
    
    padding: 0px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

table{
    margin: auto;   
    border-collapse: collapse;
}

td{
    border: 5px solid pink;
}

input#submit{
    background-color: #b46d51;
    border-color: #b46d51;
    font-weight: bold;
    color: white;
    cursor: wait; /*cursor: url("flor.png"); não ta funfando*/
}


.title{
    min-width: 300px;
}

span{
    display: block;
    width: auto!important;
}

option:hover{
    background-color: #b46d51;
    color: white;
}

input[type="checkbox"]:checked{
    box-shadow: 0 0 0 3px #b46d51;
}

input[type="radio"]:checked{
    box-shadow: 0 0 0 3px #b46d51;
}

form{
    margin-bottom: 40px;
}

a.button:hover{
    background:url("flor.png") no-repeat center center;
    width: 32px;
    height: 32px;
    color: transparent;
}

a{
    width: 600px;
}


