*{margin: 0; padding: 0; text-align: center;}

:root{
    --light-clr: #fbf9fa;
    --darker-clr: #2b2024;
    --opaque-clr: rgba(26, 13, 0, 0.3);
    --ff-heading: 'Petrona', serif;
    --ff-body: 'Khula', sans-serif;
    --fw-heading: 400;
}

@media (max-width: 700px){html{font-size: 8px;}}

@media (min-width: 700px){html{font-size: 16px;}}

#image{
    max-width: 50%;
    height: auto;
}

#tribute-info, .alb-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#title, #tribute-info, article{
    margin-top: 2em;
    padding: 1em;
    font-family: var(--ff-body);
}

h1, h3{
    font-family: var(--ff-heading);
    font-weight: 400;
    font-size: 4rem;
}

h6{font-size: 2rem;}

.albums>p{font-size: 1rem;}

p, ul{
    max-width: 75ch;
    margin: auto;
    font-size: 1.2rem;
}

/* css antigo
body, html{
    margin: auto;
    background-color: #fbf9fa;
}

#main{
    font-family: 'Sniglet', cursive;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
}

img{
    max-width: 50%;
    height: auto;
}

article{
    margin: auto;
    margin-top: 3rem;
}

article>p, li{max-width: 70ch;}

h1, h3{
    font-size: 7rem;
    color: #2b2024;
}

.albuns{
    width: 200px;
    height: 200px;
    margin: 0.2rem;
    background-color: rgba(26, 13, 0, 0.1);
    padding: 0;
}

.alb-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

h6{font-size: 4rem;}

p, li{font-size: 1.7rem;}

section{padding-top: 0;}

li{text-align: left;}

#img-caption, #img-div{padding: 0;}

*/