*{margin: 0; padding: 10px;}

body, html{
    margin: auto;
    background-color: #fbf9fa;
    padding: 0;
    font-size: 62.5%;
}

#main{
    font-family: 'Sniglet', cursive;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
}

img{
    max-width: 50%;
    height: auto;
}

article{
    margin: auto;
    margin-top: 3rem;
}

article>p, li{max-width: 70ch;}

h1, h3{
    font-size: 7rem;
    color: #2b2024;
}

.albuns{
    width: 200px;
    height: 200px;
    margin: 0.2rem;
    background-color: rgba(26, 13, 0, 0.1);
    padding: 0;
}

.alb-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

h6{font-size: 4rem;}

p, li{font-size: 1.7rem;}

section{padding-top: 0;}

li{text-align: left;}

#img-caption, #img-div{padding: 0;}

